modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ollama"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run backend"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 33689
externalPort = 3002

[[ports]]
localPort = 35687
externalPort = 5173

[[ports]]
localPort = 38225
externalPort = 3001

[[ports]]
localPort = 38779
externalPort = 5000

[[ports]]
localPort = 40955
externalPort = 6000

[[ports]]
localPort = 41079
externalPort = 3003
